# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite
*.db
agrosense.db

# Jupyter
.ipynb_checkpoints

# dotenv
.env
